@mixin btn($py:12px, $px:32px) { 
    padding: $py $px;
    border-radius: 5px;
    background: $secondary;
    color:white;
    transition: .3s linear;
    &:hover{
        background: none;
        color: $primary;
        box-shadow: 0 0 2px;
    }
}
@mixin btn_secondary($py:12px, $px:16px) { 
    padding: $py $px;
    border-radius: 5px;
    border: 0.5px solid #290247;
    background: none;
    color: #290247; 
    font-size: 15px;
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 11px;
}