* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  outline: none;
  font-family: "Philosopher", sans-serif;
}

.container {
  max-width: 1280px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

.nav_parent,
.nav_left,
.nav_right,
.nav_box {
  display: flex;
  align-items: center;
}

.nav_parent {
  justify-content: space-between;
  padding: 24px 0;
}
.nav_parent .nav_left {
  gap: 24px;
}
.nav_parent .nav_left button {
  transition: 0.3s linear;
}
.nav_parent .nav_left button:hover {
  background: #290247;
  color: #fff;
}
.nav_parent .nav_right {
  gap: 40px;
}
.nav_parent .nav_right form {
  border-radius: 5px;
  background: #E7E7E7;
  padding: 12px;
  width: 480px;
  display: flex;
  align-items: center;
  gap: 11px;
}
.nav_parent .nav_right form input {
  color: rgba(48, 48, 48, 0.4);
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.3px;
  border: none;
  background: none;
}
.nav_parent .nav_right .nav_box {
  flex-direction: column;
}
.nav_parent .nav_right .nav_box span {
  color: #110C1F;
  font-size: 12px;
  font-weight: 400;
}
.nav_parent i {
  font-size: 22px;
}

.nav_bottom {
  display: flex;
  gap: 8px;
  margin-bottom: 24px;
}
.nav_bottom .nav_btn {
  color: #110C1F;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.3px;
  padding: 6px 16px;
  border-radius: 10px;
  border: 1px solid #110C1F;
  background: none;
  transition: 0.3s linear;
}
.nav_bottom .nav_btn:hover {
  background: #B9E6FF;
}

.hero_header {
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_information {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  padding-left: 46px;
}
.header_information h1 {
  color: #110C1F;
  font-size: 28px;
  font-weight: 700;
}
.header_information p {
  color: #110C1F;
  font-size: 20px;
  font-weight: 400;
}

.first_section__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 72px 0 32px;
}
.first_section__top h2 {
  color: #110C1F;
  font-size: 32px;
  font-weight: 400;
  letter-spacing: -0.3px;
}
.first_section__top .see_link {
  display: flex;
  align-items: center;
  gap: 8px;
}
.first_section__top .see_link a {
  color: #110C1F;
  font-size: 12px;
  font-weight: 400;
}
.first_section__top .see_link button {
  background: none;
  border-radius: 5px;
  padding: 4px 6px;
  transition: 0.4s linear;
}
.first_section__top .see_link button i {
  font-size: 16px;
}
.first_section__top .see_link button:hover {
  background: #290247;
  color: #fff;
}

.section_cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(295px, 1fr));
  gap: 20px;
  margin-bottom: 100px;
}

.card {
  display: flex;
  align-items: center;
  gap: 8px;
  border-radius: 5px;
  background: #FFF;
  box-shadow: 1px 0px 27px -5px rgba(31, 26, 45, 0.22);
  padding: 21px 9px;
  transition: 0.3s linear;
}
.card:hover {
  box-shadow: 1px 0px 10px rgba(31, 26, 45, 0.8);
  transform: scale(1.03);
}
.card span {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #110C1F;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.3px;
}
.card span .btn {
  padding: 8px 12px;
}
.card span a {
  color: #290247;
  font-size: 24px;
  font-weight: 400;
}
.card p {
  color: #290247;
  font-size: 15px;
  font-weight: 400;
  line-height: 97%; /* 14.55px */
  margin-top: 8px;
  max-width: 183px;
}
.card h4 {
  color: #8D8D8D;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.3px;
  margin: 4px 0 18px;
}

.btn {
  padding: 12px 32px;
  border-radius: 5px;
  background: #290247;
  color: white;
  transition: 0.3s linear;
}
.btn:hover {
  background: none;
  color: #110C1F;
  box-shadow: 0 0 2px;
}

.btn_secondary {
  padding: 12px 16px;
  border-radius: 5px;
  border: 0.5px solid #290247;
  background: none;
  color: #290247;
  font-size: 15px;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 11px;
}

.hero_header {
  background: url(../img_bg/Frame\ 17.jpg);
  background-repeat: no-repeat;
}

/*# sourceMappingURL=main.css.map */
