// <!-- first section -->
.first_section__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 72px 0 32px;
    h2{
        color: #110C1F;
        font-size: 32px;
        font-weight: 400;
        letter-spacing: -0.3px;
    }
    .see_link{
        display: flex;
        align-items: center;
        gap: 8px;
        a{
            color: #110C1F;
            font-size: 12px;
            font-weight: 400;
        }
        button{
            background: none;
            border-radius: 5px;
            padding: 4px 6px;
            transition: .4s linear;
            i{
                font-size: 16px;
            }
            &:hover{
                background: #290247;
                color: #fff;
            }
            
        }
    }
}
.section_cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(295px, 1fr));
    gap: 20px;
    margin-bottom: 100px;
}
.card{
    display: flex;
    align-items: center;
    gap: 8px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 1px 0px 27px -5px rgba(31, 26, 45, 0.22);
    padding: 21px 9px;
    transition: .3s linear;
    &:hover{
        box-shadow: 1px 0px 10px rgba(31, 26, 45, 0.8);
        transform: scale(1.03);
    }
    span{
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #110C1F;
        font-size: 14px;
        font-weight: 400;
        letter-spacing: -0.3px;
        .btn{
            padding: 8px 12px;
        }
        a{
            color: #290247;
            font-size: 24px;
            font-weight: 400;
        }
    }
    p{
        color: #290247;
        font-size: 15px;
        font-weight: 400;
        line-height: 97%; /* 14.55px */
        margin-top: 8px;
        max-width: 183px;
    }
    h4{
        color: #8D8D8D;
        font-size: 14px;
        font-weight: 400;
        letter-spacing: -0.3px;
        margin: 4px 0 18px;
    }
}