// --------->       header
.hero_header{
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_information{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    padding-left: 46px;
    h1{
        color: #110C1F;
        font-size: 28px;
        font-weight: 700;
    }
    p{
        color: #110C1F;
        font-size: 20px;
        font-weight: 400;
    }
}