//---------------->   nav
.nav_parent,
.nav_left,
.nav_right,
.nav_box{
    display: flex;
    align-items: center;
}
.nav_parent{
    justify-content: space-between;
    padding: 24px 0;
    .nav_left{
        gap: 24px;
        button{
            transition: .3s linear;
            &:hover{
                background: #290247;
                color: #fff;
            }          
        }
    }
    .nav_right{
        gap: 40px;
        form{
            border-radius: 5px;
            background: #E7E7E7;
            padding: 12px;
            width: 480px;
            display: flex;
            align-items: center;
            gap: 11px;
            input{
                color: rgba(48, 48, 48, 0.40);
                font-size: 16px;
                font-weight: 400;
                letter-spacing: -0.3px;
                border: none;
                background: none;
            }
        }
    
        .nav_box{
            flex-direction: column;
            span{
                color: #110C1F;
                font-size: 12px;
                font-weight: 400;
            }
        }
        
    }
    i{
        font-size: 22px;
    }
}
.nav_bottom{
    display: flex;
    gap: 8px;
    margin-bottom: 24px;
    .nav_btn{
        color: #110C1F;
        font-size: 16px;
        font-weight: 400;
        letter-spacing: -0.3px;
        padding: 6px 16px;
        border-radius: 10px;
        border: 1px solid #110C1F;
        background: none;
        transition: .3s linear;
        &:hover{
            background: #B9E6FF;   
        }
    }
}