
@import "base/variable";
@import "base/base";
@import "base/mixin";
@import "pages/nav";
@import "pages/header";
@import "pages/first_section";

.btn{
    @include btn();
}
.btn_secondary{
    @include btn_secondary();
}
.hero_header{
    background: url(../img_bg/Frame\ 17.jpg);
    background-repeat: no-repeat;
}
